<!-- views/partials/head.ejs -->
<meta charset="UTF-8">

<title>BamaDumps</title>
        
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="robots" content="index, follow" />
<meta name="author" content="Dan Leonard" />
<link rel="me" href="https://danleonard.us/" />

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }
</style>